<br>
<%= form_for @sub25ject, url: {action: :update} do |f| %>
  <p><%= f.label :title25, '教科名' %>
  <%= f.text_field :title25 %></p>
  <p><%= f.label :teacher25, '教師名' %>
  <%= f.text_field :teacher25 %></p>
  <%= f.submit '更新', class: "btn btn-success" %>
<% end %>