<div class="text-center">
<br><br><br><br>
<%= form_for @sub17ject, url: {action: :update} do |f| %>
  <p><%= f.label :title17, '教科名' %>
  <%= f.text_field :title17 %></p>
  <p><%= f.label :teacher17, '教師名' %>
  <%= f.text_field :teacher17 %></p>
  <%= f.submit '更新', class: "btn btn-success" %>
<% end %>
</div>