<div class="text-center">
<br><br><br><br>
<%= form_for @sub29ject, url: {action: :create} do |f| %>
  <p><%= f.label :title29, '教科名' %>
  <%= f.text_field :title29 %></p>
  <p><%= f.label :teacher29, '教師名' %>
  <%= f.text_field :teacher29 %></p>
  <%= f.submit '登録', class: "btn btn-success" %>
<% end %>
</div>