<div class="text-center">
  <br><br><br><br>
  <% if @task.errors.present? %>
    <h3>エラーがあります。</h3>
    <div class="field_with_errors">
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <%= form_for @task, url: {action: :update} do |f| %>
    <p><%= f.label :deadline, ' 課題期限　' %>
    <%= f.datetime_field :deadline %></p>
    <p><%= f.label :title, ' 　教科名　' %>
    <%= f.text_field :title %></p>
    <p><%= f.label :content, ' 　内容　　 ' %>
    <%= f.text_field :content %></p>
    <p><%= f.label :details, ' 　詳細　' %>
  　<%= f.text_field :details %></p>
  　<div class="fuga"><%= f.label :done, '完了？　' %>
    <%= f.select :done, [['未完了','未完了'],['完了','完了']], { include_blank: false, selected: '未完了' } %></div><br><br>
    <div class="fuga"><%= f.label :department, '学科　' %>
      <%= f.select :department, [['全学科（教養）','全学科（教養）'],['情報学科','情報学科'],['建築・デザイン学科','建築・デザイン学科'],['経営ビジネス学科','経営ビジネス学科'],['生物環境化学科','生物環境化学科'],['電気電子工学科','電気電子工学科']], { include_blank: false, selected: '全学科（教養）' } %></div><br><br>
    <br>
    &emsp;<%= f.submit '更新', class: "btn btn-success" %>
    <br>
    <br>
    <br>
    <div class="sub-image"></div>
    <div class="talker">
    <svg height="35" width="90">
    <polygon id="btn-triangle" points="-130,50 0,-0 100,100" style="fill:#e0edff;cursor:pointer" />
  </svg>
    
    <script type="text/javascript">
  
  function ranAry() {
      var fruits =  ["走り出そう今がそのタイミングだ", "バチボコ元気!", "がむしゃらに往くしかない", "やらなきゃ負けだ", "ここで覚醒しろ"];
      document.getElementById("dat").value = fruits[Math.floor(Math.random() * fruits.length)];
  }
  </script>
  
  <div style="background-color : #e0edff; padding : 20px 20px 1px;">
  
  ［今のあなたを元気付ける台詞］を表示します
      <form>
          <div style="display:inline-flex;">
            　<input type="button" value="表示" onClick="ranAry()">　
              <input type="text" id="dat" placeholder="ランダムに元気づけます">
          </div>
      </form>
    </div>
  <% end %>
</div>