<br>
<% if user_signed_in? %>
    <%= link_to "ユーザー一覧", users_path, class: 'btn btn-outline-dark' %>&nbsp;&nbsp;
    <%= link_to "マイページ", user_path(current_user), class: 'btn btn-outline-dark' %>&nbsp;&nbsp;
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-outline-dark' %><br>
    <body>
        <br>
        <div class="table-responsive">
            <table class="table table-bordered", id="table-bordered">
                <tr class="strong">
                    <th>／</th>
                    <th>月</th>
                    <th>火</th>
                    <th>水</th>
                    <th>木</th>
                    <th>金</th>
                </tr>

                <tr>
                    <th class="strong">1</td>
                    <td><%= link_to "登録", new_subject_path(@subjects), class:"btn btn-outline-primary btn-sm" %><br>
                        <% @subjects.each do |subject| %>
                            <strong><%= subject.title %></strong><br>
                            <%= subject.teacher %><br>
                            <% if subject.user.id == current_user.id %>
                                <%= link_to "編集", edit_subject_path(subject), class:"btn btn-outline-primary btn-sm" %>
                                <%= link_to "削除",  subject_path(subject), method: :delete, data: {confirm: "削除しますか？"}, class:"btn btn-outline-primary btn-sm" %>
                            <% end %>
                        <% end %></td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <th class="strong">2</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <th class="strong">3</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <th class="strong">4</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <th class="strong">5</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <th class="strong">6</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
            </table>
        </div>
        <br><br><br>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th>今日の持ち物</td>
                </tr>
                <tr>
                    <td>
                        <% @bringings.each do |bringing| %>
                            <% if Date.today == bringing.day %>
                                <ul>
                                    <li><%= bringing.bringing %></li>
                                </ul>
                            <% end %>
                        <% end %>
                    </td>
                </tr>
            </table>
        </div>
        <br>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th>今日の課題</td>
                </tr>
                <tr>
                    <td>
                        <% @tasks.each do |task| %>
                            <% if Date.today == task.deadline %>
                                <ul>
                                    <li><%= task.title %></li>
                                </ul>
                            <% end %>
                        <% end %>
                    </td>
                </tr>
            </table>
        </div>
    </body>

<% else %>
    <%= link_to "ユーザー一覧", users_path, class: 'btn btn-outline-dark' %>&nbsp;&nbsp;
    <%= link_to "ログイン", new_user_session_path, class: 'btn btn-outline-dark' %>&nbsp;&nbsp;
    <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-outline-dark' %>
    <div class="bird"></div>
    <div class="bird -type_2"></div>
    <div class="bird -type_3"></div>
<% end %>