<div class="text-center">
<br><br><br><br>
<%= form_for @sub26ject, url: {action: :update} do |f| %>
  <p><%= f.label :title26, '教科名' %>
  <%= f.text_field :title26 %></p>
  <p><%= f.label :teacher26, '教師名' %>
  <%= f.text_field :teacher26 %></p>
  <%= f.submit '更新', class: "btn btn-success" %>
<% end %>
</div>