<div class="text-center">
  <br><br><br><br>
  <% if @bringing.errors.present? %>
    <h3>エラーがあります。</h3>
    <div class="field_with_errors">
      <ul>
        <% @bringing.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <%= form_for @bringing, url: {action: :update} do |f| %>
  <p><%= f.label :day, '　日付　' %>
    <%= f.date_field :day %></p>
    <p><%= f.label :week , "毎週ある？" %>
    <%= f.check_box :week %></p>
    <p><%= f.label :title, '　教科名' %>
    <%= f.text_field :title %></p>
    <p><%= f.label :bringing, '　持ち物' %>
    <%= f.text_field :bringing %></p>
    <br>
    <div class="fuga"><%= f.label :depart, '学科　' %>
      <%= f.select :depart, [['全学科（教養）','全学科（教養）'],['情報学科','情報学科'],['建築・デザイン学科','建築・デザイン学科'],['経営ビジネス学科','経営ビジネス学科'],['生物環境化学科','生物環境化学科'],['電気電子工学科','電気電子工学科']], { include_blank: false, selected: '全学科（教養）' } %></div><br><br>
    <br>
    &emsp;<%= f.submit '更新', class: "btn btn-success" %>
  <% end %>
</div>