<% if @bringing.errors.present? %>
  <h3>エラーがあります。</h3>
  <div class="field_with_errors">
    <ul>
      <% @bringing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @bringing, url: {action: :create} do |f| %>
  <p><%= f.label :day, '　日付　' %>
  <%= f.date_field :day %>  &emsp;&emsp;&emsp;&emsp;&emsp;
  <%= f.label :week , "　毎週？" %>
  <%= f.check_box :week %></p>
  <p><%= f.label :title, '　教科名' %>
  <%= f.text_field :title %></p>
  <p><%= f.label :bringing, '　持ち物' %>
  <%= f.text_field :bringing %></p>
  &emsp;<%= f.submit '登録', class: "btn btn-success" %>
<% end %>