<br>
<%= form_for @sub7ject, url: {action: :update} do |f| %>
  <p><%= f.label :title7, '教科名' %>
  <%= f.text_field :title7 %></p>
  <p><%= f.label :teacher7, '教師名' %>
  <%= f.text_field :teacher7 %></p>
  <%= f.submit '更新', class: "btn btn-success" %>
<% end %>