<br>
<%= form_for @sub22ject, url: {action: :create} do |f| %>
  <p><%= f.label :title22, '教科名' %>
  <%= f.text_field :title22 %></p>
  <p><%= f.label :teacher22, '教師名' %>
  <%= f.text_field :teacher22 %></p>
  <%= f.submit '登録', class: "btn btn-success" %>
<% end %>