<div class="text-center">
<br><br><br><br>
<%= form_for @sub4ject, url: {action: :update} do |f| %>
  <p><%= f.label :title4, '教科名' %>
  <%= f.text_field :title4 %></p>
  <p><%= f.label :teacher4, '教師名' %>
  <%= f.text_field :teacher4 %></p>
  <%= f.submit '更新', class: "btn btn-success" %>
<% end %>
</div>