<div class="text-center">
<br><br><br><br>
<%= form_for @sub9ject, url: {action: :update} do |f| %>
  <p><%= f.label :title9, '教科名' %>
  <%= f.text_field :title9 %></p>
  <p><%= f.label :teacher9, '教師名' %>
  <%= f.text_field :teacher9 %></p>
  <%= f.submit '更新', class: "btn btn-success" %>
<% end %>
</div>