<!DOCTYPE html>
<html>
  <head>
    <title>Remind</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r67/three.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  
  <body>
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name %>">
        <%= msg.html_safe %>
      </div>
    <% end %>
    <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
        <p><%= flash[:alert] %></p>
    <% end %>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="../"><i class='fa fa-pizza-slice'></i>Trovato</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "今日の詳細", today_index_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "課題一覧",  tasks_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "課題投稿", new_task_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "持ち物一覧", bringings_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "持ち物投稿", new_bringing_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </nav>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <%= yield %>
  </body>
</html>